
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 mt-4 mb-4">
				<div class="alert alert-primary" role="alert">Lista Pacientes</div>
			</div>
		</div>
	</div>

    <div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
        <table  class="table table-striped table-white">
            
          <thead class="bg-primary text-white text-center">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha Nacimiento</th>
              <th scope="col">Identificacion</th>
              <th scope="col">Tipo Identificacion</th>
              <th scope="col">Eps</th>
              <th scope="col">Historia Clinica</th>    
		      <th scope="col">Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paciente of pacientes" class="text-center">
              <th scope="row">{{paciente.nombre}}</th>
              <td>{{paciente.fechaNacimiento}}</td>
              <td>{{paciente.identificacion}}</td>
              <td>{{paciente.tipoIdentificacion}}</td>
              <td>{{paciente.eps}}</td>
              <td>{{paciente.historiaClinica}}</td>
              <td>
                <button (click)="cargarPaciente(paciente)" class="btn btn-primary">Actualizar</button>
                <button (click)="eliminarPaciente(paciente)" class="btn btn-secondary mt-2" >Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
       
          <button (click)="insertarPaciente()" class="btn btn-info" style="margin-left: 10px;">Insertar Paciente</button> 

        </div>
       </div>
      </div>
        
